/* vedioMsg */
.vedioMsg{
	li{
		margin-top: 20px;
		margin-right: 6px;
		transition: all .15s ease;
		.top2-10{
			margin-top: 11px;
			line-height: 34px;
			width: 240px;
			.clearFix{
				.listScore{
					float: left;
					margin-left: 25px;
					font-size: 12px;
					color: #46c832;
					i{
						margin-left: 5px;
						font-style: normal;
						color: #aaa;
					}
				}
				span{
					width: 30px;
					text-align: center;
					line-height: 34px;
					font-size: 11px;
					color: #aaa;
				}
				a{
					color: #2b2b2b;
					font-size: 14px;
					width: 134px;
				}
				.amount{
					font-size: 10px;
					color: #aaa;
					i{
						float: left;
						margin-top: 12px;
						margin-right: 10px;
						background:url(../imgs/amount.png) no-repeat;
						width: 12px;
						height: 10px;
					}
				}
			}
		}
		.intro{
			width: 100%;
			background-color: #fff;
			text-indent: 9px;
			p{
				font-size: 14px;
				color: #999;
				line-height: 14px;
				padding-top: 1px;
				padding-bottom: 10px;
			}
			.title{
				position: relative;
				font-size: 13px;
				display: block;
				color: #444;
				line-height: 13px;
				padding-top: 14px;
				padding-bottom: 10px;
			}	
		}
		.msgPicPar{
			position: relative;
			.yugao{
				position: absolute;
				top: 0;
				left: 0;
				width: 82px;
				height: 20px;
				background:url(../imgs/yugao.png) no-repeat;
			}
			.amount{
				position: absolute;
				right: 9px;
				bottom: 7px;
				font-size: 11px;
				line-height: 11px;
				color: #fff;
				i{
					float: left;
					margin-right: 12px;
					width: 12px;
					height: 10px;
					background: url(../imgs/amount.png) no-repeat;
				}
			}
			.shadePar{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				.shade{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #000;
					opacity: 0.75;
					filter: alpha(opacity=75);
				}
				.comment{
					position: relative;
					color: #fff;
					font-size: 11px;
					line-height: 24px;
					text-indent: 10px;
					.amount-s{
						float: left;
						margin-top: 7px;
						margin-left: 6px;
						width: 12px;
						height: 10px;
						background:url(../imgs/amount.png) no-repeat;
					}
				}
				.topListCmt{
					text-indent: 46px;
				}
				.score{
					position: absolute;
					bottom: 3px;
					right: 11px;
					color: #94ff77;
					font-size: 16px;
					line-height: 16px;
					span{
						color: #fff;
						font-size: 10px;
						line-height: 10px;
					}
				}
				.leftBuble{
					background-color: #46c832;
					color: #fff;
					text-align: center;
					line-height: 15px;
					font-size: 15px;
					line-height: 39px;
					width: 36px;
					height: 36px;
					border-top-right-radius: 120%;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
		}
	}
	li:hover{
		box-shadow: 5px 5px 10px #999;
	}
}

/* select */
.select{
	width: 220px;
	height: 135px;
	padding-left: 20px;
	background-color: #fff;
	font-size: 13px;
	li{
		margin-top: 16px;
		height: 13px;
		a{
			color: #313131;
			line-height: 13px;
			margin-left: 9px;
		}
	}
}